{% extends "layout.njk" %}

{% block content %}
    <!---HTML5 does not accept method as PUT, just POST & GET-->
    <!---Use override-->
    <!--install method-override-->
    <form id="card" method="POST" action="/instructors?_method=PUT">
        <section 
            class="avatar" 
            style="width: 400px; height: 600px; background: url(https://source.unsplash.com/collection/79439942/200) no-repeat center center / cover "></section>
        <section class="details">

            <h3>Editar Instrutor</h3>

            {% include 'fields.njk'%}
            
            <input type="hidden" 
                name="id" 
                value={{instructor.id}}>
        </section>
    </form>

{% endblock  content %}