<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/style.css">
    {% block head %}
        <title>Divas Academia Management</title>
    {%endblock%}

</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="active">Instructors</a>
            <a href="/members">Members</a>
        </div>
    </header>
    
    {% block content %}

    {% endblock %}
    
</body>
</html>