@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --color-green: #50fa7b;
    --color-purple: #7159c1;
    --color-yellow: #f7df1e; 

}

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: var(--color-purple);
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;

}

.links{
    font-size: 22px;
}

/*grab the first a */
.links a+a {
    margin-left: 32px;
   
}

.links a {
    text-decoration: none;
    color: #777 ;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--color-purple);
}

.links a:hover{
    color: var(--color-purple);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-purple);
    position: absolute;
    left: 0;
    bottom: -2px;

}

.links a:hover::after {
    width: 100%;
    transition: 300ms ease 0s;
}

/*---Card----*/

#card{
    background-color: white;
    width: 800px;
    height: 600px;

/*space in the center of the page*/

    margin: 45px auto ;

/*Grid divided in two parts*/

    display: grid;
    grid-template-columns: 1fr 1fr;
/*shadow*/
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0,);

/*animation*/
    animation-name: up;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: 3;
 

}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
    
}

/*---details*/

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    padding: 16px 0;
    
}

/* the last item wont have a line*/
.details .items:last-child {
    border:none;
}

/*grab the first div to change*/
.details .item div:nth-child(1){
    color: #aaa;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
    
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;

}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-purple);
}
.details .item span {
    padding: 8px 16px;
    background-color: var(--color-yellow);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

/* Form */

input{
    width: 100%;
    outline: none;
}
 
input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"] {
    padding: 8px 32px;
    background-color: var(--color-purple);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}